/*
1. posicionamiento
2. modelo de caja (box model)
3. tipogrtafia
4.visualizacion
5. otros
*/
:root /*definir variables */
{
    /*colores*/
    --bitcoin-orange: #f7931A;
    --soft-orange: #ffe9d5;
    --second-blue: #1A9AF7;
    --soft-blue: #e7f5ff;
    --warm-black:#201e1c;
    --black:#282623;
    --gray:#bababa;
    --off-white:#faf8f7;
    --just-white:#fff;
}
*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html
{
    font-size: 62.5%;
    font-family: 'DM Sans', sans-serif;
}
header
{
    width: 100%;
    min-width:320px ;
    max-width: 900;
    min-height: 295px;
    max-height: 500px;
    display: flex;/*ayuda a acomodar las etiquetas adentro del contenedor header*/
    flex-direction: column;/*pode las etiquetas que contien en forma de lista o en columnas(de arriba a abajo)*/
    text-align: center;
    background: linear-gradient(207.8deg, var(--warm-black) 17%, var(--bitcoin-orange));
}
header img
{
    width: 150px;/*ancho de la imagen */
    height: 24px;/*alto de la imagen*/
    margin-top: 60px;/*espacio exterior del contenedor,parte de arriba*/
    align-self: center;/*el contenedor padre debe tener display flex, y alinea este contenedor al centro*/
}
.header--title-container
{
    width: 90%;
    min-width: 280px;
    max-width: 900px;
    align-self: center;
    text-align: center;
    height: 278px;
    margin-top: 40px;
    
}
.header--title-container h1
{
    color: var(--just-white);
    font-size: 2.5rem;
}
.header--title-container p
{
    color: var(--just-white);
    font-size: 1.6rem;
    margin-top: 20px;
}

.header--title-container .header-buton
{
    position: absolute;
    left: calc(50% - 118px);
    top: 340px;
    display: block;
    margin-top: 35px;padding: 15px;
    width: 229px;
    height: 48px;
    background-color: var(--off-white);
    box-shadow: 0px 4px 8px rgba(86, 73, 30, 0.16);
    border: none;
    border-radius: 5px;
    font-size: 1.4rem;
    font-weight: bold;
    text-decoration: none;
    color: var(--warm-black);
}
.header-buton span
{
    display: inline-block;
    width: 13px;
    height: 8px;
    margin-left: 10px;
    background-image: url(./assets/icon/Vectord.svg);
}
/*main_________________*/
main
{
    width: 100%;
    height: auto;
    background-color: var(--off-white);
}
.main-container-one
{
    width: 100%;
    height: auto;
    padding-top: 80px;
    padding-bottom: 30px;
    text-align: center;
    
}

.section-div-bg-bitcoin
{
    width: 200px;
    height: 200px;
    background-image: url('./assets/img/bitcoin.svg');
    margin: 0 auto;
    background-size: cover;
    background-position: center;/*posicionar el centro de la imagen*/
    background-repeat: no-repeat;/*no repetir la imagen */
    
}
.container-one-text
{
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    margin: 0px auto;
    color: var(--black);
}
.main-container-one h2
{
    font-size: 2.4rem;
    margin-top: 40px;
    font-weight: bold;
    line-height: 2.6rem;/*separado de renglones*/
}
.main-container-one p.info
{
    width: 90%;
    margin: 20px auto;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.6rem;
    color: #757575
}
.main-container-one h3
{
    margin-top: 20px;
    width: 150px;
    margin-left: 10px;
    font-weight: 700;
    font-size: 1.8rem;
    color: var(--bitcoin-orange);
    align-self: center;
}
.main-container-one img
{
    position: absolute;
    top: 1385px;
    right: calc(50% - 21px);
}
.table-container-one
{
    width: 80%;
    height: 90px;
    margin: 0 auto;
}
table
{
    width: 100%;
}
.coin-name
{
    padding: 10px 12px ;
    width: 100px;
    color: #b5b0ac;
    font-size: 1.6rem;
    text-align: left;
    font-weight: 500;
    background-color: #ffffff;
}
.coin-value
{
    padding: 10px 12px ;
    width: 100px;
    color: #757575;
    font-weight: 400;
    font-size: 1.4rem;
    text-align: left;
    background-color: #ffffff;
}
.update-container
{
    width: 100%;
    margin-top: 130px;
    display: flex;
}
.treding
{
    margin-left: 40px;
}

.update-container p
{
    width: auto;
    margin: 0 auto;
    background-color: var(--soft-orange);
    border-radius: 5px;
    padding: 8px;
    color: var(--warm-black);
}
.update-container b
{
 font-weight: 900;
}

.left-top
{
    border-radius: 10px 0 0 0 ;
}
.rigth-top
{
    border-radius: 0 10px 0 0;
}
.left-bottom
{
    border-radius: 0 0 0 10px;
}

.rigth-bottom
{
    border-radius: 0 0 10px 0;
}
.table-container-two
{
    width: 80%;
    height: 90px;
    margin: 0 auto;
    margin-top: 20px;
}
.comision-tittle
{
    color:var(--second-blue);
    font-size: 1.8rem;
    font-weight: 700;
    text-align: left;
    margin-left: 50px;
    margin-top: 100px;    
}




/*secction 2_________________________*/
.main-container-two
{
    width: 100%;
    width: auto;
    background-color: var(--warm-black);
    margin: 0 auto;
    padding-bottom: 50px;
    
}
.container-section-info
{
    width: 90%;
    height: auto;
    margin: 10px auto;
    background-color: var(--black);
    
    border-radius: 4px;
}

.main-container-two h4
{
    color: var(--just-white);
    font-size: 2.4rem;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 20px;
    
    
}
.main-container-two h5
{
    color: var(--just-white);
    text-align: left;
    font-size: 1.8rem;
    margin-left: 15px;
}


.main-container-two p 
{
    color: #808080 ;
    text-align: left;
    width: 280px;
    margin: 0 auto;
    margin-left: 15px;
    font-size: 1.4rem;
    padding-bottom: 10px;
}
.main-container-two .container-section-info svg
{
    margin: 15px 0px 5px 15px;
}
/*section three____________________*/
.main-container-three
{
    width: 100%;
    height: 387px;
    background-image: url('https://i.ibb.co/SmMsR97/bitcoinbaby1.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.main-container-three div
{
    height: 90%;
    height: 30px;
    margin: 0 auto;
    padding-top: 60px;
}
.main-container-three div h4
{
    color: var(--just-white);
    font-size: 2.4rem;
    text-align: center;
}
/*secsion 4 _____________________________________________*/
.main-container-four
{
    width: 100%;
    height: 450px;
    background-color: var(--off-white);
}
.title-section-container
{
    width: 90%;
    height: 100px;
    padding-bottom: 10px;
    margin: 0 auto;
    margin-top: 50px;
}
.main-container-four .title-section-container .tittle-section-four
{
    text-align: center;
    font-size: 2.4rem;
    color: var(--warm-black);
    font-family: 'DM Sans', sans-serif;
    font-weight: bolder;
    line-height: 26px;
}
.main-container-four .title-section-container .text-section-four
{
    color: #757575;
    font-size: 1.4rem;
    font-weight: 500;
    font-family: 'DM Sans', sans-serif;
    text-align: center;
    margin-top: 15px;
}
.card-container-year
{
    width: 190px;
    height: 250px;
    margin: 0 auto;
    background-color: var(--just-white);
    margin-top: 60px;
    position: relative;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
}
.card-container-year .title-container
{
    background-color: var(--bitcoin-orange);
    border-radius: 10px;
    width: 100px;
    padding: 10px;
    position: absolute;
    top: -20px;
    left: calc(50% - 50px);

    
}
.card-container-year .title-container p
{
    font-size: 1.2rem;
    font-weight: 700;
    text-align: center;
    color: var(--just-white);
    font-family: 'inter';
}
.main-container-four .card-container-year .info-card-container
{
    width: 80%;
    height: 180px;
    margin: 0 auto;
    padding-top: 30px;
    text-align: center;
    position: relative;
}
.main-container-four .card-container-year .info-card-container h3
{
    color: #000000;
    font-size: 1.4rem;
    font-weight: 500;
    font-family: 'dm sans';
}
.main-container-four .card-container-year .info-card-container .coin-simbol-card
{
    position: absolute;
    left: calc(50% - 40px);
    bottom: 110px;
    font-family: 'inter';
    font-weight: 500;
    font-size: 1.2rem;
    color: #363636;
}
.main-container-four .card-container-year .info-card-container .price-card-container
{
    color: #000000;
    font-size: 5.2rem;
    font-weight: bold;
    letter-spacing: -0.08em;
    font-family: 'inter';
}

.main-container-four .card-container-year .info-card-container .text-card-container
{
    font-size: 1.2rem;
    color: #757575;
    text-align: center;
    font-weight: 500;
    font-family: 'inter';
    margin-top: 10px;
}
.button-container
{
    width: 80%;
    margin: 0 auto;
}
.button-container button
{
    width: 151px;
    height: 48px;
    margin: 0 auto;
    background-color: var(--off-white);
    border-radius: 4px;
    border: 2px solid var(--bitcoin-orange);
}
.div-container--button-text
{
    
    height: auto;
    margin: 0 auto;
}
.div-container--button-text p
{
   width: 80%;
   height: auto;
   position: relative;
   font-family: 'DM Sans';
   font-size: 1.4rem;
   font-weight: bold;

}
.div-container--button-text p svg
{
    position: absolute;
    top: calc(50% - 12px);
    right: -15px;
}

/*footer______________________________________________*/

footer
{
    width: 100%;
    height: 150px;
    background-color: var(--bitcoin-orange);
    padding: 40px;
    position: relative;
}
footer section
{
    height: 100%;
}
footer section div
{
    height: 100%;
    margin-left: 20px;
}
footer section div ul
{
    list-style: none;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
footer section div ul li a
{
    color: var(--just-white);
    font-family: 'SM Sans';
    text-decoration: none;
    font-size: 1.4rem;
}
footer .footer-logo-container
{
    position: absolute;
    top: calc(50% - 20px);
    right: 50px;
}